<header id="scroll_header">
	<div class="logo">
	    <h1 class="logo_side">BK</h1>
	    <div class="logo_stack">
	        <h2>Printing</h2>
	        <h2>Shop</h2>
	    </div>
    </div>
</header>


<div class="content">
	<div class="banner"></div>
	<div class="services_container">
		{{#each services}}
	    <div class="service">
			<img src="img/sample.jpg" alt="img/sample.jpg" class="service_image">
			<p class="service_name">{{service_name}}</p>
			<p class="service_description">{{service_description}}<p>
		</div>
		{{/each}}
	</div>
</div>
	<script src="js/script.js"></script>