<h1>home template</h1>

<ul>
    {{#each messages}}  
        <li>{{service_name }}: {{service_description}}</li>
    {{/each}}
</ul>

<header id="scrollHeader">
	<div class="logo">
	    <h1 class="logoSide">BK</h1>
	    <div class="logoStack">
	        <h2>Printing</h2>
	        <h2>Shop</h2>
	    </div>
    </div>
</header>


<div class="content">
	<div class="banner"></div>
	<div class="servicesContainer">
	    <div class="service"></div>
	</div>
</div>
	<script src="/js/script.js"></script>