<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Pge</title>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <nav>
        <h1 class="title">Orders</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </nav>


    <body>
        <br>
        {{#each orders}}
        <div class="orders">
            <img src="{{order_img}}" alt="" class="order_img">
            <h3>#{{order_id}}</h3>
            <p>{{order_name}}</p>
            <p>mm-dd-yyyy</p>
            <p>state</p>
        </div>
        {{/each}}
    </body>
</html>