<nav>
    <h1 class="title">Orders</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
    </ul>
</nav>
<body>
    <br>
    {{#each orders}}
    <div class="orders">
        <img src="{{order_img}}" alt="" class="order_img">
        <h3>#{{order_id}}</h3>
        <p>{{order_name}}</p>
        <p>mm-dd-yyyy</p>
        <p>state</p>
    </div>
    {{/each}}
</body>
